Django==5.2.5
djangorestframework==3.16.1
django-environ==0.12.0
django-cors-headers==4.7.0
django-extensions==4.1
django-filter>=24,<25

redis==5.2.1
celery[redis]==5.5.3

psycopg[binary]==3.2.9 ; python_version >= "3.13"
psycopg2-binary==2.9.10 ; python_version < "3.13"

django-celery-beat==2.8.1
whitenoise==6.9.0
Pillow==11.3.0
qrcode[pil]==8.2
segno==1.6.6
reportlab==4.4.3
drf-spectacular==0.28.0
PyJWT==2.10.1
cryptography==45.0.6

pytest==8.4.1
pytest-django==4.11.1
pytest-cov==6.2.1
factory-boy==3.3.3

mypy==1.17.1
django-stubs==5.2.2
djangorestframework-stubs==3.16.2

ruff==0.12.11
black==25.1.0
pre-commit==4.3.0
