{% extends "admin/base.html" %}
{% load i18n %}

{% block userlinks %}
  {{ block.super }}
  <form action="{% url 'set_language' %}" method="post" style="display:inline-block;margin-left:8px;">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    <select name="language" onchange="this.form.submit()">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% for code, name in LANGUAGES %}
        <option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
  </form>
{% endblock %}


